
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Vanessa Vanegas | Estudiante</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" media="screen" href="/static/main.css" />
  <script src="https://kit.fontawesome.com/836a943e18.js" crossorigin="anonymous"></script>
  <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico" />
</head>

<body>

  <header>
    <div class="container">
      <nav>
        <div class="nav-brand">
          <a href="index.html">
            <img src="/static/images/teacher.png" alt="Vane" />
          </a>
        </div>
        <div class="burger-menu-icon">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
        <ul class="nav-list">
          <li class="nav-item">
            <a href="#landing-page">
              <img src="/static/images/profile-pic.jpg" alt="Vanessa Vanegas" class="profile-pic nav-link" />
              <span class="caption nav-link">Vanessa Vanegas</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#about" class="nav-link">Acerca</a>
          </li>
          <li class="nav-item">
            <a href="#services" class="nav-link">Experiencia Laboral</a>
          </li>
          <li class="nav-item">
            <a href="#projects" class="nav-link">Información General</a>
          </li>
          <li class="nav-item">
            <a href="#contact" class="nav-link">Contacto</a>
          </li>
          <li class="nav-item">
            <a href="#" target="_blank" class="nav-link">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="#" target="_blank" class="nav-link">
              <i class="fab fa-facebook"></i>
            </a>
            <a href="#" target="_blank" class="nav-link">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
          <div class="cta">
            <a href="#" target="_blank" class="btn nav-link">Contáctame</a>
          </div>
        </ul>
      </nav>
    </div>
  </header>

  <main>

    <section id="landing-page" class="landing-page">
      <div class="container">
        <div class="main-message">
          <h2>Vanessa Vanegas</h2>
          <h3>{Estudiante de Ingenieria de de Negocios}</h3>
          <p>Estudiante . Voluntaria . Maestra </p>
          <div class="intro-btn">
            <div class="cta">
              <a href="#contact" class="btn">Contáctame</a>
            </div>
            <div class="cta">
              <a href="#projects" class="btn">Información General</a>
            </div>
          </div>
          <div>
            <a href="#about" class="scroll-down">
              <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </section>


    <section id="about" class="about">
      <div class="container">
        <div class="about-img">
          <img src="/static/images/profile-pic.jpg" alt="Vanessa Vanegas" class="about-pic" />
        </div>
        <div class="about-text-box">
          <h2>Hello 👋🏽</h2>
          <p>
            Soy una joven con valores y con capacidad de trabajar en equipo. Me gusta aprender y participar en actividades de responsabilidad social donde se ayuden 
            a niños y jóvenes a superarse y soñar en grande.
          </p>
          <p>
            Mi deseo es desarrollarme en Desarrollo Sostenible, Ingeniería de Procesos y Responsabilidad Social.
          </p>
          <p>
            Vanessa Eunice Vanegas 
          </p>
          Idiomas: Inglés intermedio - avanzado (Toefl 97 puntos)
          <p>
          </p>
        </div>
      </div>
      <hr />
    </section>

    <section id="services" class="services">
      <div class="container">
        <div class="title-heading">
          <h2>EXPERIENCIA LABORAL</h2>
        </div>
        <div class="service-tiers">
          <div class="tier-item">
            <i class="fa fa-church" aria-hidden="true"></i>
            <h2>Maestra</h2>
            <p>IGLESIA COMUNIDAD CRISTIANA DEL REINO DE DIOS</p>
            <p>Maestra titular<p>
            <p>Maestra de Escuela Bíblica (presencial y virtual) de niños los entre las de 3 a 6 años 
            con un enfoque cristiano evangélico.</p>
             <p>01/2011-Actual</p>
            </p>
          </div>
          <div class="tier-item">
            <i class="fa fa-book" aria-hidden="true"></i>
            <h2>Asociación</h2>
            <p>PASITOS ESEN</p>
            <p>Presidenta<p>
            <p>Pasitos es una asociación estudiantil con el objetivo de mejorar y
            promover la educación de los niños del Cantón El Matazano, Comasagua</p>
            <p>12/2019-Actual</p>
          </div>

          <div class="tier-item">
            <i class="fa fa-pen" aria-hidden="true"></i>
            <h2>Empresa</h2>
            <p>ASESUISA, S.A. DE C. V.</p>
            <p>Pasante - Procesos<p>
            <P>Proyecto de análisis y mejora de procesos en el área de BancaSeguros de la empresa ASESUISA, S.A DE C.V. 
            para la materia de Ingeniería de Procesos.</p>
            <p>05/2019-07/2019</p>
        </div>

        </div>
      </div>
      <hr />
    </section>

    <section id="projects" class="projects">
      <div class="title-heading">
        <h2>INFORMACIÓN GENERAL</h2>
      </div>
      <div class="project-item">
        <div class="project-img has-margin-right">
          <img src="/static/images/pasitos.png" />
        </div>
        <div class="project-description">
          <h2>Miembro de Pasitos ESEN</h2>
          <p>
            Miembro de la asociación Pasitos-ESEN específicamente en la Comisión de
            Voluntariado.
          </p>
          <p>07-2018-Actual</p>
          <a href="https://www.instagram.com/pasitos.esen/" class="project-link" target="_blank"><i class="fa fa-instagram" aria-hidden="true"> Visitar Página</i></a>
        </div>
      </div>

      <div class="project-item">
        <div class="project-description has-margin-right">
          <h2>Traductora de Orphan Helpers</h2>
          <p>
            Traductora para Orphan Helpers es un grupo de estadounidenses cristianos que apoyan a
            diferentes orfanatos en El Salvador.
          </p>
          <p> 08-2018 - 08-2019<p>
        </div>
        <div class="project-img">
          <img src="/static/images/volunteer.png" />
        </div>
      </div>

      <div class="project-item">
        <div class="project-img has-margin-right">
          <img src="/static/images/esen.png" />
        </div>
        <div class="project-description">
          <h2>Apoyo en la materia de Inglés</h2>
          <p>
            Apoyo a catedrática Vien Cao en la materia de inglés para revisión de exámenes
            y supervisión de evaluaciones.
          </p>
          <p>03-2019-06-2019</p>
        </div>
      </div>
      <hr />
    </section>


    <section id="contact" class="contact">
      <h2>Get In Touch</h2>
      <p>
        Me encantaría formar parte de su empresa y poner en práctica todos mis conocimientos y experiencias. 
      </p>
      <p>
        <i>Cualquier duda estoy a la orden.
          <strong>"-Vanessa Vanegas"</strong></i>
      </p>
      <div class="container">
        <p>
          <a href="mailto:v.vanegas231@gmail.com"><i class="fas fa-envelope-open"></i> v.vanegas231@gmail.com</a>
        </p>
        <p>
          <a href="https://www.linkedin.com/in/vanessa-vm/" target="_blank"><i class="fab fa-linkedin"> Linkedin</i></a>
        </p>
        <p>
          <a href="https://www.facebook.com/vane.vanegas.39/" target="_blank"><i class="fab fa-facebook"> Facebook</i></a>
        </p>
        <p>
          <a href="https://www.instagram.com/vane_vanegas/" target="_blank"><i class="fab fa-instagram"> Instagram</i></a>
        </p>
      </div>
      <hr />
    </section>

    <footer>
      <div class="footer-nav">
        <a href="#landing-page" class="footer-nav-link">Home</a>
        <a href="#about" class="footer-nav-link">About</a>
        <a href="#services" class="footer-nav-link">Experiencia</a>
        <a href="projects" class="footer-nav-link">Información General</a>
        <a href="#contact" class="footer-nav-link">Contacto</a>
      </div>
      <div class="footer-coded-by">
        <p>
          <i class="fas fa-code"></i> with 💙 by Vanessa Vanegas &copy; 2020
        </p>
        <p>Built with pure HTML, CSS and JavaScript</p>
      </div>
      <div class="footer-social">
        <a href="https://www.linkedin.com/in/vanessa-vm/" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://www.facebook.com/vane.vanegas.39/" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://www.instagram.com/vane_vanegas/" target="_blank"><i class="fab fa-instagram"></i></a>
      </div>
    </footer>

  </main>

  <script src="/static/main.js"></script>
</body>

</html>